.media {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color: #37323E;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.media:hover {
  background-color: #BFBDC1;
  color: black;
}

@media (max-width: 550px) {
  .media {
    width: 46%;
  }
}

.poster {
  border-radius: 12px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 8px 0;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
}

.ratingButtons {
  display: inline-flex;
  justify-content: space-around;
}

.div-movie-button-delete{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.movie-button-delete  {
background-color: #9b2522;
width: 20px;
border: none;
height: 20px;
border-radius: 20px;
color: white;
font-size: 15px;
}

.movie-button-delete:hover {
  background-color: #b63836;
  color: black;    
  }


